{deps, [
  {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",      "master"}},
  {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",  "master"}},
  {oauth2,  ".*", {git, "https://github.com/kivra/oauth2.git",       {tag, "major-rework"}}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}}
]}.
