{deps, [
  {cowboy,  ".*", {git, "https://github.com/extend/cowboy.git",      "master"}},
  {jsx,     ".*", {git, "https://github.com/talentdeficit/jsx.git",  "master"}},
  {oauth2,  ".*", {git, "git@github.com:mtornwall/oauth2.git",       "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}}
]}.
