%% ----------------------------------------------------------------------------
%%
%% oauth2: Erlang OAuth 2.0 implementation
%%
%% Copyright (c) 2012-2014 Kivra
%%
%% Permission is hereby granted, free of charge, to any person obtaining a
%% copy of this software and associated documentation files (the "Software"),
%% to deal in the Software without restriction, including without limitation
%% the rights to use, copy, modify, merge, publish, distribute, sublicense,
%% and/or sell copies of the Software, and to permit persons to whom the
%% Software is furnished to do so, subject to the following conditions:
%%
%% The above copyright notice and this permission notice shall be included in
%% all copies or substantial portions of the Software.
%%
%% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
%% IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
%% FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
%% AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
%% LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
%% FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
%% DEALINGS IN THE SOFTWARE.
%%
%% ----------------------------------------------------------------------------

{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{require_min_otp_vsn, "R14"}.
{erl_opts,            [ debug_info
                      , warn_format
                      , warn_export_all
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_bif_clash
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      , {platform_define, "^R", pre17}
                      , {platform_define, "^(R|17)", pre18}
                      ]}.
{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{dialyzer_opts,       [{warnings,
                          [ error_handling
                          , race_conditions
                          , behaviours
                          ]}
                      ]}.
{clean_files,         [".eunit", "ebin/*.beam", "test/*.beam"]}.


{deps,
  [ {meck,   ".*", {git, "https://github.com/eproxus/meck.git",   {tag, "0.8.3"}}}
  , {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "20e62bc32f9bd43fe2ff52944a4ef99eb71d1399"}}}
  ] }.
