{deps, [{meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}}]}.
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.

%% EUnit options
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{covertool_eunit, "eunit.coverage.xml"}. % Output report file name
