% vim: ft=erlang:
{erl_opts,            [ debug_info
                      , warn_format
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_unused_import
                      , warn_bif_clash
                      , nowarn_shadow_vars
                      , nowarn_export_all
                      , warnings_as_errors
                      ]}.
{xref_warnings,       false}.
{xref_checks,         [undefined_function_calls]}.
{eunit_opts,          [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{profiles, [ {test, [{deps, [ {meck, "0.9.2"},
                              {proper, {git, "https://github.com/manopapad/proper.git", {tag, "v1.4"}}}
                            ]}]}
           ]}.
