{deps, [{meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.7.2"}}}]}.
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.

{erl_opts, [
    bin_opt_info,
    warn_format,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warn_bif_clash,
    warnings_as_errors,
    %% warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

%% EUnit options
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
