---
name: ci
permissions:
  contents: write

on:
  # for feature branches
  pull_request:
  # for releases
  push:
    branches:
      - master

concurrency:
  group: ${{ (github.ref != 'refs/heads/master') && format('{0}-{1}', github.ref, github.workflow) || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  ci:
    if: github.event_name == 'pull_request'
    name: ci
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: 26
          rebar3-version: 3.24

      - run: |
          # Since we can't force CI to run after pushing rebar.lock
          # we remove it to make sure we test over rebar.config
          rm -f rebar.lock
          make ci

      # The result of the following step can't be completely automated,
      # since the 'git push' prevents the workflow's status from being reported
      # In this case, we need to analyze the results of the previous
      # step, and, when Ok, force- merge it!
      - run: |
          if [[ "${HEAD_REF}" =~ renovate/.* ]]; then
            echo "ℹ️ This appears to come from a Renovate PR. Trying rebar.lock update..."

            ORIGIN="origin/${{ github.event.repository.default_branch }}"

            if ! git diff --quiet --exit-code "${ORIGIN}"..HEAD -- rebar.config; then
              rebar3 upgrade --all

              CHECK_FILE=rebar.lock
              if ! git diff --quiet --exit-code "${CHECK_FILE}"; then
                # there's stuff to push
                git config user.name "Renovate Bot"
                git config user.email "bot@renovateapp.com"
                git add "${CHECK_FILE}"
                git commit -m "auto-update(deps): Changes in ${CHECK_FILE}"
                git push origin HEAD:"${HEAD_REF}"
              fi
            fi
          fi
        env:
          HEAD_REF: ${{ github.head_ref }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  release:
    if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'no-release') == false
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        token: ${{secrets.GITHUB_TOKEN}}

    - name: Bump version and push tag
      id: tag-version
      uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dry_run: true
        release_branches: master

    - name: Create a GitHub release
      run: |
        if ! command -v gh >/dev/null 2>&1; then
          curl -sS https://webi.sh/gh | sh
        fi
        gh release create ${{ steps.tag-version.outputs.new_tag }} --generate-notes --latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
